<% layout('/layouts/boilerplate') %> 
    <div id="homePage" class="row">
        <div class="d-flex nav-lg"></div>
        <section class="col-12 px-0">
            <div id="carouselMain" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <figure class="carousel-item active">
                        <img src="imgs/main/1.jpg" class="d-block w-100" alt="">
                        <figcaption>
                            <h2>Виготовлення меблів на замовлення</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, aliquid magni quisquam saepe fugit incidunt nemo illum tempora iste, aliquam recusandae illo? Quaerat libero qui deleniti optio ad temporibus. Ut?</p>
                            <a href="/catalog">Переглянути потфоліо</a>
                        </figcaption>
                    </figure>
                    <figure class="carousel-item">
                        <img src="imgs/main/2.jpg" class="d-block w-100" alt="">
                        <figcaption>
                            <h2>Послуги конструктора</h2>
                            <p>Спроектуємо меблі по вашому замовленню. Підготуємо проєкт, ля - ля -ля.</p>
                            <a href="/contacts">Замовити</a>
                        </figcaption>
                    </figure>
                    <figure class="carousel-item">
                        <img src="imgs/main/3.jpg" class="d-block w-100" alt="">
                        <figcaption>
                            <h2>Магазин готової продукції</h2>
                            <p>Придбайте готову продукцію та не витрачайте час на процес виготовлення.</p>
                            <a href="/shop">Переглянути</a>
                        </figcaption>
                    </figure>
                    <figure class="carousel-item">
                        <img src="imgs/main/4.jpg" class="d-block w-100" alt="">
                        <figcaption>
                            <h2>Збиральник меблів</h2>
                            <p>Наші професіонали зберуть будь-які ваші меблі швидко та якісно.</p>
                            <a href="/contacts">Замовити</a>
                        </figcaption>
                    </figure>
                </div>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <div class="interruption"></div>
        <section id="mainPortfolio">
            <h1 class="text-center text-uppercase mb-3">Виготовлення меблів на замовлення</h1>
            <ul class="d-flex flex-wrap mb-0">
                <li>
                    <figure>
                        <img src="imgs/main/1.jpg" class="w-100" alt="">
                        <figcaption>
                            <a href="/catalog?category=kitchens"><span>Кухні</span></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="imgs/main/2.jpg" class="w-100" alt="">
                        <figcaption>
                            <a href="/catalog?category=wardrobes"><span>Шафи</span></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="imgs/main/3.jpg" class="w-100" alt="">
                        <figcaption>
                            <a href="/catalog?category=living"><span>Вітальні</span></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="imgs/main/4.jpg" class="w-100" alt="">
                        <figcaption>
                            <a href="/catalog?category=chests"><span>Комоди</span></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="imgs/main/5.jpg" class="w-100" alt="">
                        <figcaption>
                            <a href="/catalog?category=hallways"><span>Передпокій</span></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="imgs/main/1.jpg" class="w-100" alt="">
                        <figcaption>
                            <a href="/catalog?category=glass"><span>Вироби зі скла</span></a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
        <div class="interruption"></div>
        <section id="mainShop" class="col-12 px-0">
            <figure>
                <img src="imgs/main/1.jpg" class="w-100" alt="">
                <figcaption>
                    <div>
                        <h1 class="text-center">Готова продукція</h1>
                    </div>
                    <div id="carouselShop" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner text-center">
                            <% shop.forEach((item, i)=> { %> 
                                <% if(i===0){ %> 
                                    <figure class="carousel-item active">
                                        <img src="<%=item.images[0].urlMd%>" class="d-block w-100" alt="">
                                        <figcaption class="px-3">
                                            <h4 class="mt-2"><%=item.title%></h4>
                                            <p class="mb-2">Ціна: <%=item.price%> грн.</p>
                                            <a class="btn btn-outline-success" href="/shop/<%=item._id%>">Детальніше</a>
                                            <a class="btn btn-outline-success" href="/shop">Вся продукція</a>
                                        </figcaption>
                                    </figure>
                                <% } else { %> 
                                    <figure class="carousel-item">
                                        <img src="<%=item.images[0].urlMd%>" class="d-block w-100" alt="">
                                        <figcaption class="px-3">
                                            <h4 class="mt-2"><%=item.title%></h4>
                                            <p class="mb-2">Ціна: <%=item.price%> грн.</p>
                                            <a class="btn btn-outline-success" href="/shop/<%=item._id%>">Детальніше</a>
                                            <a class="btn btn-outline-success" href="/shop">Вся продукція</a>
                                        </figcaption>
                                    </figure> 
                                <% } %> 
                            <% }) %>                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselShop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselShop" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </figcaption>
            </figure>            
        </section>
        <% if(actions.length != 0) { %>             
        <div class="interruption"></div>
        <section id="mainActions" class="mb-5">
            <h1 class="text-center text-uppercase">Акції</h1>
            <div id="carouselActions" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner text-center border">
                    <% actions.forEach((item, i)=> { %> 
                        <% if(i===0){ %> 
                            <figure class="carousel-item active mb-0 d-lg-flex">
                                <img src="<%=item.image.urlHd%>" class="col-12 col-lg-6 px-0 mx-auto" alt="">
                                <figcaption class="col-12 col-lg-6 px-5 text-break d-flex flex-column justify-content-center">
                                    <h4 class="mt-2 mb-4"><%=item.title%></h4>
                                    <p><%=item.description%></p>
                                </figcaption>
                            </figure>
                        <% } else { %> 
                            <figure class="carousel-item mb-0 d-lg-flex">
                                <img src="<%=item.image.urlHd%>" class="col-12 col-lg-6 px-0 mx-auto" alt="">
                                <figcaption class="col-12 col-lg-6 px-5 text-break d-flex flex-column justify-content-center">
                                    <h4 class="mt-2 mb-4"><%=item.title%></h4>
                                    <p><%=item.description%></p>
                                </figcaption>
                            </figure>                            
                        <% } %> 
                    <% }) %>                            
                </div>
            </div>
        </section>
        
        <% } %> 
    </div>

    <%= isAdmin %> 
    
    <script src="/javascripts/home.js"></script>
