<% layout('/layouts/boilerplate') %> 
<div class="row my-3 mx-1">
    <article id="catalogShow" class="card px-0 overflow-hidden col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
      <div class="b-block">
        <div class="px-3 py-2 text-center">
          <h5 class="card-title m-0"><%=product.title%></h5>
        </div>
        <div id="showCatalogPhotos" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% product.images.forEach((img, i) => { %> 
              <% if (i===0){ %> 
                <div class="carousel-item active">
                  <img src="<%=img.urlHd%>" class="d-block w-100" alt="...">
                </div>
              <% } else { %> 
                <div class="carousel-item">
                  <img src="<%=img.urlHd%>" class="d-block w-100" alt="...">
                </div>
              <% } %> 
            <% }) %> 
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#showCatalogPhotos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#showCatalogPhotos" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="px-3 text-break">
          <p class="mt-2">Категорія: <a href="/catalog?category=<%=product.category%>"><%=product.categoryToUa()%></a></p>
          <div>
            <button class="btn btn-light btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#howToOrder" aria-expanded="false" aria-controls="howToOrder">
              Замовити
            </button>
            <div class="collapse border-top border-bottom py-2 mt-2" id="howToOrder">
              <p class="mb-4 mt-4 text-center">Зв'яжіться з нами будь-яким зручним для вас способом - <strong><a href="/contacts">КОНТАКТИ</a></strong> і ми детально обговоримо, як будуть виглядати меблі вашої мрії та домовимось про наступні кроки ;)</p>
              <h5 class="mb-1">Етапи виконання меблів на замовлення:</h5>
              <ol>
                <li>Зв'яжіться з нами будь-яким зручним для вас способом - <strong><a href="/contacts">КОНТАКТИ</a></strong>. Наш спеціаліст вислухає ваші побажання, при необхідності, надасть рекомендації та попередньо зорієнтує у вартості.
                <li>Наш спеціаліст приїде до вас для виконання замірів та для обговорення матеріалів і кольору - безкоштовно.</li>
                <li>Виконуємо технічни прорахунок, формуємо вартість та погоджуємо з вами.</li>
                <li>Виробництво.</li>
                <li>Доставка та монтаж.</li>
              </ol>
              <h5 class="mb-1">Доставка</h5>
              <p>Організацію доставки наша компанія повністю бере на себе.</p>
            </div>
          </div>
          <% if (isAdmin) { %>
            <div class="mt-2">
              <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#confirmDelete">Видалити</button>
              <a href="/catalog/<%=product.id%>/edit" class="btn btn-primary mb-1">Редагувати</a>
            </div>
          <% } %> 
        </div>
      </div>
      <div class="card-body">
          <p class="card-text"><%=product.description%></p>
      </div>
    </article>
  </div>

<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Видалити позицію з портфоліо</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-break">
        <strong>Ви впевнені, що хочете видалити "<%=product.title%>"?</strong><br>
        Відновити позицію після видалення буде неможливо!
      </div>
      <div class="modal-footer">
        <form class="mx-auto" action="/catalog/<%=product.id%>?_method=DELETE" method="POST">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
            <button class="btn btn-danger" type="submit">Видалити</button>
        </form>
      </div>
    </div>
  </div>
</div>