<% layout('/layouts/boilerplate') %> 
<div class="row after-nav mb-5">
    <%-include('../partials/flash')%>
    <div class="col-6 offset-3">
        <h5><%=product.title%></h5>
        <div class="card" >
            <div class="d-flex">
                <% for (let img of product.images){ %> 
                    <img src="<%=img.urlHd%>" class="card-img-top" style="width:18rem">
                <% } %> 
            </div>
            <div class="card-body">
                <p class="card-text"><%=product.description%></p>
                <a href="/catalog?category=<%=product.category%>"><%=product.categoryToUa()%></a>
                <br>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmDelete">Видалити</button>
                <a href="/catalog/<%=product.id%>/edit" class="btn btn-primary">Редагувати</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Видалити позицію з портфоліо</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Ви впевнені, що хочете видалити "<%=product.title%>"?</strong><br>
        Відновити позицію після видалення буде неможливо!
      </div>
      <div class="modal-footer">
        <form class="mx-auto" action="/catalog/<%=product.id%>?_method=DELETE" method="POST">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
            <button class="btn btn-danger" type="submit">Видалити</button>
        </form>
      </div>
    </div>
  </div>
</div>