<% layout('/layouts/boilerplate') %> 
<div class="row after-nav">
    <%-include('../partials/flash')%>
    <h1>Профіль - <%= user.username %></h1>
        <div class="col-6 offset-3">
        <form action="/profile?_method=PUT" method="POST" class="needs-validation register-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Нікнейм</label>
                <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" autocomplete="username" disabled required>
            </div>
            <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#change-pass" aria-expanded="false" aria-controls="change-pass">
                Змінити пароль
            </button>
            <div class="collapse row mb-3" id="change-pass">
                <div class="col-md-6">
                    <label for="password" class="form-label">Новий пароль</label>
                    <input type="password" class="form-control" id="password" name="password" autocomplete="new-password" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-6">
                    <label for="password2" class="form-label">Повторіть новий пароль</label>
                    <input type="password" class="form-control" id="password2" autocomplete="new-password" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" autocomplete="email" disabled required>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="f_name" class="form-label">Ім'я</label>
                    <input type="text" class="form-control" id="f_name" name="f_name" value="<%= user.f_name %>" autocomplete="given-name" >
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-6">
                    <label for="l_name" class="form-label">Прізвище</label>
                    <input type="text" class="form-control" id="l_name" name="l_name" value="<%= user.l_name %>" autocomplete="family-name" >
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="birthday" class="form-label">Дата народження</label>
                    <div class="input-group" id="birthday">
                        <input type="number" id="day" aria-label="Day" class="form-control" placeholder="День" name="birthday[day]" value="<%=user.birthday.day%>">
                        <input type="number" id="month" aria-label="Month" class="form-control" placeholder="Місяць" name="birthday[month]" value="<%=user.birthday.month%>">
                        <input type="number" id="year" aria-label="Year" class="form-control" placeholder="Рік" name="birthday[year]" value="<%=user.birthday.year%>">
                    </div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-6">                    
                    <label for="sex" class="form-label">Стать</label>
                    <select class="form-select" id="sex" name="sex" value="<%= user.sex %>">
                        <% if (user.sex == "n/d") { %> 
                            <option value="n/d" selected>Не вказано</option>
                        <% } else { %> 
                            <option value="n/d">Не вказано</option>
                        <% } %> 
                        <% if (user.sex == "M") { %> 
                            <option value="M" selected>Чоловіча</option>
                        <% } else { %> 
                            <option value="M">Чоловіча</option>
                        <% } %> 
                        <% if (user.sex == "F") { %> 
                            <option value="F" selected>Жіноча</option>
                        <% } else { %> 
                            <option value="F">Жіноча</option>
                        <% } %> 
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Номер телефону</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="+38(000)000-00-00" maxlength="17" value="<%= user.phone %>" autocomplete="tel">
                <div class="invalid-feedback"></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="city" class="form-label">Місто</label>
                    <input type="text" class="form-control" id="city" name="adress[city]" value="<%= user.adress.city %>" >
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-4">
                    <label for="street" class="form-label">Вулиця</label>
                    <input type="text" class="form-control" id="street" name="adress[street]" value="<%= user.adress.street %>">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-2">
                    <label for="house" class="form-label">Будинок</label>
                    <input type="text" class="form-control" id="house" name="adress[house]" value="<%= user.adress.house %>">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-2">
                    <label for="apt" class="form-label">Квартира</label>
                    <input type="text" class="form-control" id="apt" name="adress[apt]" value="<%= user.adress.apt %>">
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Оновити данні профілю</button>
            </div>
        </form>
    </div>
</div>
<!-- <script src="/javascripts/validateForms.js"></script> -->
<script src="/javascripts/validateProfileForm.js"></script>