<% layout('/layouts/boilerplate') %> 
<div class="d-flex my-3">
        <h1 class="mx-auto align-self-center mb-0">Магазин готової продукції</h1>
        <a href="/shop/new" class="btn btn-success align-self-center add-new">Додати продукт</a>
</div>
<section id="shop" class="row justify-content-center m-0 p-0">
    <ul class="d-inline-flex flex-wrap p-0 m-0 col-12 col-md-10 offset-md-1">
        <% for(let item of shopItems) { %>
            <li class="p-1">
                <div class="card">
                    <% if(item.images.length){ %> 
                        <img src="<%=item.images[0].urlMd%>" class="card-img-top" alt="...">
                    <% } else { %> 
                        <img src="/imgs/navbar/logo.svg" style="background-color: blue;" class="card-img-top" alt="...">
                    <% } %> 
                    <div class="card-body">
                        <h5 class="card-title"><%=item.title%></h5>                        
                        <% if (item.inStock){ %>  
                            <p class="my-1" style="color: rgb(97, 167, 95);"><span><img src="/imgs/shop/page/check.svg" alt=""></span>В наявності</p>
                        <% } else { %> 
                            <p class="my-1" style="color: rgb(201, 32, 32);"><span><img src="/imgs/shop/page/dot.svg" alt=""></span> Тимчасово відсутній</p>
                        <% } %> 
                        <p class="">Ціна: <%=item.price%> грн.</p>
                        <p class="card-text mb-0"><%=item.description%></p>
                        <a href="/shop/<%=item.id%>" class="go-to-product">Докладніше</a>
                    </div>
                </div>
            </li>
        <% } %> 
    </ul>
</section>