<% layout('/layouts/boilerplate') %> 
<header class="d-block mx-1 my-3">
        <h1 class="text-center mb-0">Акції</h1>
        <a href="/actions/new" class="btn btn-success add-new">Додати акцію</a>
</header>
<section class="row px-3">
    <% for(let action of actions) { %>
        <article class="card mb-3 px-0 text-break">
            <div class="row g-0">
                <div class="col-md-5">
                    <% if (action.image){ %> 
                        <img src="<%=action.image.urlHd%>" class="img-fluid rounded-start" alt="...">
                    <% } %> 
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="w-100">
                            <h5 class="card-title "><%=action.title%></h5>
                            <div class="text-center my-3">
                                <a href="/actions/<%=action._id%>/edit" class="btn btn-primary">Редагувати</a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmDelete">Видалити</button>
                            </div>
                        </div>
                        <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content text-center">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Видалити акцію</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <strong>Ви впевнені, що хочете видалити акцію "<%=action.title%>"?</strong><br>
                                    Відновити акцію після видалення буде неможливо!
                                </div>
                                <div class="modal-footer">
                                    <form action="/actions/<%=action._id%>?_method=DELETE"  method="POST" class="mx-auto">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
                                        <button type="submit" class="btn btn-danger">Видалити</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                        <p class="card-text"><%=action.description%></p>
                        <% if (action.isActive){ %>
                            <% if (action.finishDate){ %>
                                <p class="card-text"><strong class="text-success">Акція діє до: <%=action.finishDate.getDate()%>-<%=action.finishDate.getMonth()%>-<%=action.finishDate.getFullYear()%></strong></p>
                            <% } else { %>
                                <p class="card-text"><strong class="text-success">Акція активна</strong></p>
                            <% } %> 
                        <% } else { %>
                                <p class="card-text"><strong class="text-denger">Акцію завершено</strong></p>
                        <% } %>                         
                    </div>
                </div>
            </div>
        </article>
    <% } %> 
</section>
